<table style = "border:1px #ccc dashed;">
	<th style = "background: #FFF">
        <!--	<a href="/firstround/"><img src="{{ MEDIA_URL }}images/round1.png"/ width="120" align="center"></a>-->
	<br/>
	<a href="/secondround/"><img src="{{ MEDIA_URL }}images/round2.png" width="120" align="center"/></a>
	<br/>
	</th>
</table>
<br/>
<table style = "border:1px #ccc dashed;">
	<th style = "background:#fff"><img src = "{{ MEDIA_URL }}images/supporting_sponsors.png" width="120"/>
	<br/>
	<a href="http://www.ipinfusion.com/" target="_blank"><img src="{{ MEDIA_URL }}imags/ipinfusion.png" width = "120"/></a>
	<a href="http://www.paloaltonetworks.com/" target="_blank"><img src="{{ MEDIA_URL }}images/palo_alto.png" width="120"/></a>
	<br/>
	</th>
</table>
<br/>
<table style = "border:1px #ccc dashed;">
	<th style = "background:#fff">
		<a href="http://ctftime.org/team/662/" target="_blank"><img src="{{ MEDIA_URL }}images/event_organizers.png" width="120"/></a>
		<br/>
		<a href="http://amrita.edu/" target="_blank"><img src="{{ MEDIA_URL }}images/amrita_university.png" width="120"/></a>
		<br/>
		<a href="http://www.amrita.edu/cyber" target="_blank"><img src="{{ MEDIA_URL }}images/accs.png" width="120"/></a>
		<br/>
	</th>
</table>
<br/>
<!--<div class="right-heading">
	<a href="/firstround/" style="text-decoration: none; font-size: 13px; color: rgb(102, 102, 102); font-weight: bold; font-family: sans-serif;">Round 1</a>
</div>
   	<p>Get ready for upcoming challenges!</p> -->
<!-- <div class="right-heading">
	<a href="/secondround/" style="text-decoration: none; font-size: 13px; color: rgb(102, 102, 102); font-weight: bold; font-family: sans-serif;">Round 2</a>
</div>
   	<p>Solve challenges of varying difficulty to gain points and secure a position in the final CTF round</p> -->
<!--<div class="right-heading">
	<a href="#" style="text-decoration: none; font-size: 13px; color: rgb(102, 102, 102); font-weight: bold; font-family: sans-serif;">Round 3</a>
</div>
   	<p> The exciting Capture the Flag(CTF) Round! </p>-->
			
