
				<!-- CONTENT -->
				<h2>Introduction</h2>
				<p>Welcome to quatrain, a free valid CSS &amp; XHTML strict web template from <a href="http://www.spyka.net" title="spyka webmaster">spyka Webmaster</a>. This template is <strong>free</strong> to use permitting a link remains back to  <a href="http://www.spyka.net" title="spyka webmaster">http://www.spyka.net</a>. Should you wish to use this template unbranded you can buy a template license from our website for 5.00 GBP, this will allow you remove all branding related to our site, for more information about this see below.</p>
	
				
				<p>This template has been tested in:</p>
				<ul>
					<li>Firefox 2 and 3.5</li>
					<li>Opera 9</li>
					<li>IE 6, 7 and 8</li>
					<li>Chrome</li>
	
				</ul>
		
				<h3>Buy unbranded</h3>
				<p>Purchasing a template license for 5.00 GBP (at time of writing around 7.40 USD) gives you the right to remove any branding including links, logos and source tags relating to spyka webmaster. Payments are processed using paypal, with which we are a verified member, via the licensing page on our website which can be accessed at <a href="http://www.spyka.net/licensing" title="template license">http://www.spyka.net/licensing</a></p>
				
