<table style = "border: 1px #ccc dashed;">
    <th style = "background:#fff">
        <img src = "{{ MEDIA_URL }}images/supporting_sponsors.png" width="200"/>
        <br/>
	    <a href="http://www.ipinfusion.com/" target="_blank"><img src="{{ MEDIA_URL }}images/ipinfusion.png" width = "120"/></a>
	    <a href="http://www.paloaltonetworks.com/" target="_blank"><img src="{{ MEDIA_URL }}images/palo_alto.png" width="120"/></a>
	</th>
	<th style = "background:#fff">
        <img src="{{ MEDIA_URL }}images/event_organizers1.png" width="160"/></a>
        <br/>
        <a href="http://ctftime.org/team/662/" target="_blank"><img src="{{ MEDIA_URL }}images/bios.png" width = "120"/></a>
		<a href="http://amrita.edu/" target="_blank"><img src="{{ MEDIA_URL }}images/amrita_university.png" width="120"/></a>
		<a href="http://www.amrita.edu/cyber" target="_blank"><img src="{{ MEDIA_URL }}images/accs.png" width="120"/></a>
	</th>
</table>
